<footer>
    <div>
        <h3>Torremolino ©2013</h3>
        <h4>Todos los derechos reservados</h4>
    </div>
    <div>
        <h3>Llámanos T. {CONTENT.PHONE}</h3>
        <h4>info@torremolino.com.pe</h4>
    </div>
    <div>
        <h3>Síguenos</h3>
        <h4>_</h4>
        <a href="#" class="facebook"></a>
        <a href="#" class="twitter"></a>
        <a href="#" class="linkedin"></a>
    </div>
    <div>
        <h4 class="gray">Developed by Newcircus</h4>
        <h4>_</h4>
    </div>

</footer>


<!--VENDOR SCRIPTS-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="{PATH_JS}vendor/jquery.cycle2.min.js"></script>
<!--VENDOR SCRIPTS-->

<!--SITE SCRIPTS-->
<script src="{PATH_JS}main.js"></script>
<!--SITE SCRIPTS-->

</body>
</html>